.body {
    background: linear-gradient(45deg, rgb(97, 93, 93) 0%, rgb(46, 44, 59) 100%);
    font-family: 'Open Sans', sans-serif;
    font-size: 25px;
    letter-spacing: 2px;
  }
  
  
  .links {
      text-align: center;
      font-family: 'Courier', sans-serif;
      margin-top: 20px;
      padding: 20px;
      border: 1px solid #aeacac;
      border-width: 2px;
      width: 290px;
      display: block;
      margin-left: auto;
      margin-right: auto;
      border-radius: 10px;
      color:#aeacac;
      font-size: 15px;
  }
  
  a {
    text-decoration: none;
    color: #c1b9b9;
    transition: color 1s; 
  }
  
  a:hover {
    color: #000;
    opacity: 95%;
    transform: scale(1.02);
  }

  .logo-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 130px;
    border-radius: 50%;
  }

  .link-moving-Element {
    text-align: center;
    font: bold;
    font-family: 'Courier', sans-serif;
    margin-top: 20px;
    padding: 20px;
    border: 1px solid #aeacac;
    border-width: 2px;
    width: 290px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    color:#aeacac;
    font-size: 15px;
    animation-name: grow-shrink;
    animation-duration: 3s;
    animation-iteration-count: infinite;
  }

  @keyframes grow-shrink {
    40% { transform: scale(1.1); }
    80% { transform: scale(1); }
  }
  

